.playerCard {
  max-width: 350px;
}

.playerCard__background {
  width: 100%;
  background: url("../../assets/images/player_background.png") no-repeat right;
}

.playerCard__playerImage {
  width: 50%;
}

.playerCard__playerImage img {
  width: 100%;
  vertical-align: bottom;
}

.playerCard__clubBadge {
  background: url("../../assets/images/badges_sprite.png") no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
  float: right;
  margin: -50px 30px 0 0;
}

.playerCard__clubBadge.playerCard__clubBadge--1 {
  background-position: -100px -100px;
}

.playerCard__clubBadge.playerCard__clubBadge--11 {
  background-position: -800px -700px;
}

.playerCard__clubBadge.playerCard__clubBadge--12 {
  background-position: -600px -800px;
}

.playerCard__clubBadge.playerCard__clubBadge--21 {
  background-position: -500px -1000px;
}

.playerCard__clubBadge.playerCard__clubBadge--26 {
  background-position: 0 0;
}

.playerCard__details {
  background-color: #EF004F;
  padding: 15px;
}

.playerCard__name {
  color: #FFF;
  font-weight: normal;
  font-size: 2.2rem;
  margin-bottom: 10px;
  margin-top: 0;
}

.playerCard__position {
  color: #FFF;
  margin-top: 0;
}

.playerCard__stats {
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  width: 90%;
  padding: 10px;
  color: #38003C;
}

.playerCard__statTitle {
  float: left;
  line-height: 23px;
}

.playerCard__statValue {
  float: right;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
