.playerSelect__select {
  appearance: none;
  background: url('../../assets/images/arrow.png') no-repeat right 15px top 18px #EAEAEA;
  border: none;
  font-size: 16px;
  height: 45px;
  padding-left: 15px;
  width: 100%;
  cursor: pointer;
}
